
.alloteaments-numbers{
    display:flex;

}

.box-lot{
    margin: 20px;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    font-weight: bold;
}

.available-lot{
    background-color: #38B885;
    color: #ffff;
}


.unavaliable-lot{
    background-color: #8c8c8f;
    color: black;
}
