.active-users-intire-box {
    padding: 10px 15px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 20px;
    margin: 0 30px;
    margin-bottom: 10px;
}

.active-users-credentials-box {
    display: flex;
    flex-direction: column;
}

.active-users-credentials-box p {
    margin: 5px 0;
}