.container{
    padding: 8% 0 0;
    margin: auto;
}

.reset-form{
background-color: #ffff;
/* position: absolute; */
top: 40%;
/* left: 45%; */
border-radius: 24px;
box-shadow: 10px;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
}

.input-label{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin: 10px 0px 20px 0px;
/* margin-top: 10px;
margin-bottom: 20px; */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-text{
width: 100%;
border: none;
border-radius: 10px;
padding: 10px;
background-color: #F2F2F7;
font-size: 12pt;
/* box-shadow: 0px 10px 4px black; */
outline: none;
box-sizing: border-box;
}
.input-text ::placeholder{
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 15px;
    text-align:left
}

.input-btn{
width: 100px;
padding: 8px;
border-radius: 30px;
border: none;
background:#38B885;
color: #F2F2F7;
margin: 10px 0 10px 0;
cursor:alias;
margin-right: 20px;
}
.input-reset{
width: 100px;
padding: 8px;
border-radius: 30px;
border: none;
color: #38B885;
margin: 10px 0 10px 0;
cursor:alias;
margin-right: 20px;
}
.input-class{
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
display: flex;
justify-content: center;
}
.title-form{
text-align: left;
}